[submodule "year 3/semester 6/KIII-DevOps/Project/KIII-Project"]
	path = year 3/semester 6/KIII-DevOps/Project/KIII-Project
	url = https://github.com/AndrejBardakoski/KIII-Project
[submodule "year 4/semester 7/UI design patterns/lab exercises/ShabloniDizajnKorisnickiInterfejs-Labs"]
	path = year 4/semester 7/UI design patterns/lab exercises/ShabloniDizajnKorisnickiInterfejs-Labs
	url = https://github.com/AndrejBardakoski/ShabloniDizajnKorisnickiInterfejs-Labs
[submodule "year 4/semester 7/Programing Paradigms/PP-Clojure"]
	path = year 4/semester 7/Programing Paradigms/PP-Clojure
	url = https://github.com/AndrejBardakoski/PP-Clojure
[submodule "year 4/semester 7/Programing Paradigms/PP-Prolog"]
	path = year 4/semester 7/Programing Paradigms/PP-Prolog
	url = https://github.com/AndrejBardakoski/PP-Prolog
[submodule "year 3/semester 6/Integrated Systems/Domasna-IS"]
	path = year 3/semester 6/Integrated Systems/Domasna-IS
	url = https://github.com/AndrejBardakoski/Domasna-IS
[submodule "year 3/semester 5/Design and analysis of software/Project/explore-It"]
	path = year 3/semester 5/Design and analysis of software/Project/explore-It
	url = https://github.com/DimitrijaT/explore-It
[submodule "year 3/semester 5/Video Game Programming/PnVI"]
	path = year 3/semester 5/Video Game Programming/PnVI
	url = https://github.com/AndrejBardakoski/PnVI
